body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-rows: 15fr 1fr;
  grid-template-columns: 1fr;

  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #80baff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.navbar a{
  margin-right: 10px;
}