body {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  height: 100vh;
}


.error {
  border: 1px solid red;
  outline: none;
}

.active {
  background-color: #80baff;
}

.done {
  opacity: .5;
}

.links {
  margin: 0 0 20px 20px;
}

.links a{
  margin-right: 10px;
}